





<div class ="box">
    <a href="/books/1"  alt="html"  height="200" width="200"  >HTML  and CSS</a>
    <a href="/books/2"  alt="html"  height="200" width="200" ></a>
    <a href="/books/3" alt="html"  height="200" width="200" ></a>
    <p> HTML and CSS</p>
    <p> HTML and CSS</p>
    <p> HTML and CSS</p>
</div>