<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    #mybooks {
      width: 500px;
      height: 120px;
      background-color: rgb(198, 191, 191);
      border-spacing: 4px;
      font-size: 20px;
      padding: 10px;
    }
    body{
            background-color: rgb(210, 181, 236);
    }
    
  </style>
  </head>
  <body>
    <h1><%=books.name %></h1>
    <div id="mybooks">
      <p><b>Author:</b><%=books.author %></p>
      <p><a href="<%= books.Link %>" >  Purchase on amazon</a></p>
    </div>
  </body>
</html>