

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book 3</title>
    <style>
     #mybooks {
      width: 500px;
      height: 120px;
      background-color: rgb(198, 191, 191);
      border-spacing: 4px;
      font-size: 20px;
      padding: 10px;
    }
    body{
            background-color: rgb(210, 181, 236);
    }
    p{
        width: 400px;
        height: 20px;
        background-color: rgb(230, 187, 187);
    }
    </style>
  </head>
  <body>
    <h1><%=books.name %></h1>
    <div id="mybooks">
      <p><b>Author:</b><%=books.author %></p>
      <p><a href="<%=books.Link %>" target="_blank">Purchace  on amazon!</a></p>
    </div>
  </body>
</html>